//@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,500,700");

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    text-rendering: geometricPrecision;
    height: 100%;
    min-height: 100%;
    display: none;
}


.pixel-canvas {border: 1px solid red;}